@using HairSalonDB.Models
<h1>Snappy Snips!</h1>

<h3>Our clients:</h3>
<ul>
  @foreach(var client in Client.GetAll())
  {
        <h4>@client.GetName(): | <a href="/client/@client.GetId()">See client details</a></h4>
  }
</ul>
<form action="/client/delete" method="post">
  <button type="submit" name="button">Clear all clients</button>
</form>
Note: New clients are added from the appropriate stylist page.<br><br>
<a href='/stylists'>View all stylists</a>
