@using HairSalonDB.Models
<h1>Snappy Snips!</h1>

<h3>Our Clients:</h3>
<ul>
  @foreach(var client in Client.GetAll())
  {
        <h4>@client.GetName(): | <a href="/client/@client.GetId()">See Client Details</a></h4>
  }
</ul>
<form action="/client/delete" method="post">
  <button type="submit" name="button">Clear All Clients</button>
</form>
Note: New clients are added from the appropriate Stylist page.
<a href='/stylists'>View all Stylists</a>
<a href='/client'>View all Clients</a>
