<h1>Snappy Snips needs another specialty!</h1>
<form action="/stylists" method="post">
  <label for="new-stylist">New specialty name:</label>
  <input id="new-stylist" name="new-specialty" type="text">
  <button type="submit">Submit</button>
</form>
