<h1>Snappy Snips! needs another specialty!</h1>
<form action="/specialty" method="post">
  <label for="new-specialty">New specialty name:</label>
  <input id="new-specialty" name="new-specialty" type="text">
  <button type="submit">Submit</button>
</form>
