@using HairSalonDB.Models
<h1>Snappy Snips!</h1>

<h3>Our Specialties:</h3>
<ul>
  @foreach(var specialty in Specialty.GetAll())
  {
        <h4>@specialty.GetName(): | <a href="/specialty/@specialty.GetId()">See specialty details</a></h4>
  }
</ul>
<form action="/specialty/delete" method="post">
  <button type="submit" name="button">Clear all specialties</button>
</form>
<p><a href="/specialty/new">Add another specialty</a></p>
<a href='/stylists'>View all Stylists</a>
<a href='/client'>View all Clients</a>
