<h1>Hair Salon Database</h1>
<form action="/stylists" method="post">
  <label for="new-stylist">New Stylist Name:</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <label for="new-descrip">New Stylist Description:</label>
  <input id="new-descrip" name="new-descrip" type="text">
  <button type="submit">Submit</button>
</form>
